{% extends "base.html" %}
{% block content %}
<div class="info-cards">
 <div>
<h3 >Students Directory</h3><br>
<p>Manage and view all registered students</p>
 </div>
<a href="{{ url_for('students.add_student')  }}" class="btn">Add Students</a>
</div>

{% with messages = get_flashed_messages(with_categories=True) %}
  {% if messages %}
    <div class="flash-wrap">
      {% for category, msg in messages %}
        <div class="flash flash-{{ category }}">{{ msg }}</div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}
<!-- FILTER + SEARCH BAR -->
<form method="GET" action="{{ url_for('students.students') }}" class="top-controls">

    <!-- SEARCH -->
  <div class="info-colm1">
    <div class="search-wrapper">
        <div class="search-input">
            <input type="text" name="search"
                   placeholder="Search student..."
                   value="{{ request.args.get('search','') }}">
            <i data-lucide="search" class="search-icon"></i>
        </div>
    </div>
   

    <!-- ADMISSION YEAR -->
    <div class="filter-wrapper">
      {% set selected_year = request.args.get('year') %}
     <select name="year" > 
  <option value="">All Year</option>
    {% for y in years %}
    <option value="{{ y.admission_year }}"
    {% if selected_year == (y.admission_year | string) %}selected{% endif %}>
        {{ y.admission_year }}
    </option>
    {% endfor %}
        </select>
    </div>
{% set selected_branch = request.args.get('branch') %}
    <!-- BRANCH -->
    <div class="filter-wrapper">
        <select name="branch">
            <option value="">Branch</option>
            <option value="AIML" {% if selected_branch == 'AIML' %}selected{% endif %}>AIML</option>
            <option value="Civil" {% if selected_branch == 'Civil' %}selected{% endif %}>Civil</option>
            <option value="Mechanical" {% if selected_branch == 'Mechanical' %}selected{% endif %}>Mechanical</option>
           <option value="CS" {% if selected_branch == 'CS' %}selected{% endif %}>CS</option>
         <option value="IT" {% if selected_branch == 'IT' %}selected{% endif %}>IT</option>
        </select>
    </div>

  
</div>
    <!-- SUBMIT -->
  <div class="info-btn">
    <button type="submit" class="btn">Apply</button>
  </div>
  
</form>
<!-- TABLE -->
<div class="table-container">
<table>
    <thead>
        <tr>
            <th><i data-lucide="hash"></i> Roll</th>
            <th><i data-lucide="user"></i> Name</th>
            <th><i data-lucide="book-open"></i> Branch</th>
            <th>Adm. year</th>
            <th class="text-center"><i data-lucide="eye"></i> View</th>
         <th>Action</th>
        </tr>
    </thead>
 {% if students %}
    <tbody>
        {% for student in students %}
        <tr>
            <td>{{ student.roll }}</td>
            <td>{{ student.name }}</td>
            <td>{{ student.branch }}</td>
            <td>{{ student.admission_year  }}</td>
            <td class="text-center">
                <a class="view-btn"
                   href="{{ url_for('adv.student_detail', roll=student.roll,branch=student.branch,admission_year=student.admission_year) }}">
                    <i data-lucide="arrow-right-circle"></i>
                </a>
            </td>
         <td>
              <a href="{{ url_for('students.edit_student', id=student.id) }}" class="edit-btn">✏️</a>
                <a href="{{ url_for('students.delete_student',id=student.id) }}" 
                   onclick="return confirm('Delete this student record?');"
                 class="delete-btn">🗑️</a>
            </td>
        </tr>
       {% endfor %}
         {% else %}
    <tbody>
        <tr>
            <td colspan="6" style="text-align:center;">
                No Student Record found. Add one above.
            </td>
        </tr>
   
    {% endif %}
    </tbody>
</table>
</div>

<script>
  setTimeout(() => document.querySelector('.flash-wrap')?.remove(), 3000);
</script>

{% endblock %}